body {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 20px;
    text-align: center;
    color: rgb(211, 211, 211);
    background-color: #0C1121;
}

header {
    font-family: 'Games', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.result {
    font-size: 18px;
    margin-top: -85px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 125px;
    font-size: 20px;
}

.choice {
    font-size: 60px;
    margin-top: 30px;
}

#options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#rock, #paper, #scissors {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    font-size: 60px;
    padding: 10px;
    background-color: rgb(211, 211, 211);
}

.summary {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hidden {
    display: none;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    font-size: 14px;
}
